<p>
  <%= comment.body %>
  <% if comment.user %>
    <small>
<<<<<<< Updated upstream
      <%= comment.user.name %> commented <%= time_ago_in_words(comment.created_at) %> ago
      <% if policy(comment).destroy? %>
        | <%= link_to "Delete", [@post, comment], method: :delete %>
      <% end %>
=======
      <em><%= comment.user.name || comment.user.email %></em>
>>>>>>> Stashed changes
    </small>
  <% end %>
</p>
